.banner-sabores {
    background-image: url('/public/assets/banner-sabores.jpg');
    background-color: #fadc7a;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 70vh;
    margin-top: 80px;
}

.banner-sabores-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner-sabores-content h1 {
    font-size: 85px;
    color: #f5f5f5;
    text-shadow: 2px 2px 2px #000;
}

/*agrupando os cards de sabores*/

.sabores-cards{
    height: 100vh;
    margin:80px 0px 200px;
}

.sabores-cards-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 65%;
}

.sabores-cards-content h1{
    text-align: center;
    font-size: 32px;
    margin-bottom:20px;
}

.agrupa-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

 .card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width:300px;
    height: 350px;
    margin: 10px;
    padding:10px;
    background-color: #fff;
    box-shadow: 0px 0px 8px 1px #d3d3d3;
}

.card img{
    width: 90%;
    height: 60%;
    object-fit: cover;
}

.card h2{
    font-size: 18px;
}

.card p{
    font-size:16px;
}


/*responsivo*/

@media (min-width:437px) and (max-width:768px) {

    
    .banner-sabores-content h1 {
        font-size: 70px;
    }
    
    /*agrupando os cards de sabores*/
    
    .sabores-cards{
        height: 100%;
        margin:80px 0px 100px;
    }
    
    .sabores-cards-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 80%;
    }
    
    .sabores-cards-content h1{
        text-align: center;
        font-size: 32px;
        margin-bottom:20px;
    }
    
    
     .card{
        width:100%;
        height: 350px;
        margin: 10px;
    }
    
    .card img{
        width: 60%;
        height: 80%;
        object-fit: cover;
    }
    
    .card h2{
        font-size: 22px;
    }
    
    .card p{
        font-size:20px;
    }

}


@media (max-width:436px) {

    .banner-sabores{
        height: 60vh;
    }

    .banner-sabores-content {
        height: 100%;
        width: 50%;
    }

    .banner-sabores-content h1 {
        font-size: 70px;
        text-shadow: 2px 4px 4px #000;
    }
    
    /*agrupando os cards de sabores*/
    
    .sabores-cards{
        height: 100%;
        margin:80px 0px 100px;
    }
    
    .sabores-cards-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 95%;
    }
    
    .sabores-cards-content h1{
        text-align: center;
        font-size: 28px;
        margin-bottom:20px;
    }
    
    
     .card{
        width:100%;
        height: 350px;
        margin: 10px;
    }
    
    .card img{
        width: 70%;
        height: 80%;
        object-fit: cover;
    }
    
    .card h2{
        font-size: 20px;
    }
    
    .card p{
        font-size:18px;
    }

}