/*section banner*/


.banner {
    background-image: url('/public/assets/banner-home.png');
    background-color: #fadc7a;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 90vh;
    margin-top: 80px;
}

.banner-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner-section h1 {
    font-size: 80px;
    color: #f5f5f5;
    text-shadow: 2px 2px 2px #000;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*section sabores*/

.exposicao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.exposicao img {
    min-width: 50%;
    object-fit: cover;
}



/*flex das sections de conteudo principal*/

.flex-apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    height: 100%;
}

.flex-apresentacao h2 {
    font-size: 36px;
}

.flex-apresentacao .p-subtitle {
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}

.conteudo-section {
    color: #000;
    line-height: 32px;
    width: 80%;
    text-align: center;
}



/*responsivo*/


@media (min-width:769px) and (max-width:1200px) {
    .banner {
        height: 60vh;
    }

    .banner-section h1 {
        font-size: 4.5rem;
        text-align: center;
      
    }

    
    /*sections */

    .exposicao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .eventos {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .exposicao img {
        height: 33%;
        width: 100%;
        object-fit: cover;
    }


    /* agrupa infos das sections --- flex*/

    .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .eventos {
        flex-direction: column-reverse;
    }


    .flex-apresentacao {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    .flex-apresentacao h2 {
        font-size: 36px;
    }

    .flex-apresentacao .p-subtitle {
        font-size: 22px;
        font-weight: bold;
        font-style: italic;
    }

    .conteudo-section {
        font-size: 24px;
    }


}

@media (min-width:437px) and (max-width:768px) {

    .banner {
        height: 80vh;
    }


    .banner-section h1 {
        font-size: 70px;
    }


    /*sections */

    .exposicao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .eventos {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .exposicao img {
        height: 33%;
        width: 100%;
        object-fit: cover;
    }


    /* agrupa infos das sections --- flex*/

    .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .eventos {
        flex-direction: column-reverse;
    }


    .flex-apresentacao {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    .flex-apresentacao h2 {
        font-size: 36px;
    }

    .flex-apresentacao .p-subtitle {
        font-size: 22px;
        font-weight: bold;
        font-style: italic;
    }

    .conteudo-section {
        font-size: 20px;
    }


}


@media (max-width:436px) {
    .banner {
        height: 75vh;
        background-size: contain;
    }

    .banner-section {
        height: 100%;
        width: 50%;
    }

    .banner-section h1 {
        font-size: 50px;
        text-align: center;
        text-shadow: 2px 4px 4px #000;
    }


    /*sections */

    .exposicao {
        display: flex;
        flex-direction: column;
    }

    .exposicao img {
        height: 33%;
        width: 100%;
        object-fit: cover;
    }

    /* agrupa infos das sections --- flex*/

    .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .eventos {
        flex-direction: column-reverse;
    }

    .flex-apresentacao {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0px 50px;
        height: 100%;
        width: 100%;
    }

    .flex-apresentacao h2 {
        font-size: 30px;
        text-align: center;
    }

    .flex-apresentacao .p-subtitle {
        font-size: 22px;
        font-weight: bold;
        font-style: italic;
        width: 100%;
        text-align: center;
    }


    .conteudo-section {
        font-size: 20px;
    }

}